body {
    background-color: #FAF3E0; /* Soft cream */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    
}

.nav-bar {
    position: fixed;
    top: 0;
    width: 100%;
    background: rgba(73, 120, 60, 0.8);
    text-align: center;
    padding: 10px 0;
    transform: translateY(-100%);
    opacity: 0;
    transition: opacity 1.5s ease-out, transform 1s ease-out;
}

.nav-bar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.nav-bar li {
    margin: 0 20px;
}

.nav-bar a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
}

.show-nav {
    opacity: 1;
    transform: translateY(0);
}
